<% provide(:title, 'Home') %>
<div class= "center hero-unit">
	<h1>About our Council:</h1>
	<p>
 	Council #8548 was established on ___________________.  Since then, the council has grown to an organization of over 100 Catholic gentlemen.  Affiliated with St. John’s in West Columbia, Our Lady of Perpetual Help in Sweeny, and St. Joseph’s on the Brazos in Brazoria, this council contains members from other parishes in the area, as well as from across the country from men who have ties back to this area.     
 	</p>
 </div>